.form{
    float: left;
    border: 3px solid rgba(223, 218, 218, 0.128);
    margin-top: 3%;
    width: 50%;
    padding: 10% 10% 10% 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mb-3{
    width: 2px;
    margin-top: 3%;
    margin-left: 3%;
}